---
layout: default
title: Computational Phylogenomics Lab @ ANU
subtitle: 
subsubtitle: Enable evolutionary research in the genomic era
---

<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>

<div class="jumbotron jumbotron-fluid" style="text-align: center; background-image: url(assets/images/canberra_bg_2.jpg); background-size: cover;">
  <h1>{{page.title}}</h1>
  <h2>{{page.subtitle}}</h2>
  <img src="/assets/images/minh-lab-logo.svg" width="200">
  <h3 style="text-shadow: 0px 1px 2px white; font-style: italic;" >{{page.subsubtitle}}</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
		<div class="list-group">
			<div class="list-group-item list-group-item-primary">
   			  <h3>Our mission</h3>
			  We develop and apply bioinformatic methods, models, and algorithms for 
			  phylogenetic inference from genomic data, with a recent focus on 
			  machine learning.
			  <br><a href="{{site.baseurl}}/research/">&rarr;More about our research</a>
			</div>
		</div>
    </div>
    <div class="col-sm">
		<div class="list-group">
			<div class="list-group-item list-group-item-warning">
   			  <h3>News</h3>
			  {% for post in site.categories['news'] limit:3 %}
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
              {% endfor %} 
   			  <a href="{{site.baseurl}}/news/">&rarr;More news</a>
			</div>
		</div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm">
		<div class="list-group">
			<div class="list-group-item list-group-item-info">
   			  <h3>Software</h3>
   			  Our flagship software <a href="http://www.iqtree.org">IQ-TREE</a>,
   			  the <a href="https://australian.museum/get-involved/eureka-prizes/2023-eureka-prize-winners/">Eureka prize winner</a>,
   			  has been used to investigate everything from the origin of Life on Earth to the
   			  virus causing COVID-19 pandemic.
   			  <br><a href="{{site.baseurl}}/software/">&rarr;more</a>
			</div>
		</div>
    </div>
    <div class="col-sm">
		<div class="list-group">
			<div class="list-group-item list-group-item-danger">
   			  <h3>Join us</h3>
   			  Our lab is growing! Current members are <a href="{{site.baseurl}}/people/">listed here</a>
   			  <br>
			  <a href="{{site.baseurl}}/join/">&rarr;See how to join us here</a> 
			</div>
		</div>
    </div>
  </div>
</div>
<br>
<div style="background: {{site.data.style.minor_color}};">
  <div class="container">
  <br>
  <h3>Selected publications</h3>
  <ol>
  {% assign person_pages = site.pages | where: "layout" , "personnel" | where: "current", "true" %}
  {% assign members = person_pages | map: "pubname" %}
  {% assign selected_pubs = site.data.publications.references | where: "selected", "true" %}
  {% for pub in selected_pubs %}
	<li>
		{% include publication.html %}
	</li>
  {% endfor %}
  </ol>
  <a href="{{site.baseurl}}/publications/">&rarr;All publications</a>
  </div>
</div>

